@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: Work Sans;
    box-sizing: border-box;
}

/* NAV Styles */

.nav-bar {
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    max-height: 130px;
    width: 80% ;
    margin: 30px auto;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.nav-bar li {
    margin-right: 2rem ;    
}

.nav-bar li span {
    margin-right: .5rem ;
    
}

.nav-bar a, span{
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    
}

.follow-us-box {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);  
    padding: 17px;

}


.nav-left {
    display: flex;
    align-items: center;
    
}

.nav-left img {
    width: 86.041px;
    height: 40px;
}
.nav-left h3 {
    margin-left: 5px;
    text-align: center;
    font-size: 45px;
    font-weight: 700;

}



/* *********************************** */
/* BANNER STYLES */
/* *********************************** */

.banner-section {
    border: 2px solid red;
    background-image: url("../images/Group14.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.banner-container {
    border: 2px solid blue;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 25px auto;
    align-items: center;
    margin-bottom: 0;
}

.banner-content {
    border: 2px solid violet;
    text-align: start;
    width: 50%;
}

.banner-img {
    border: 2px solid seagreen;
    width: 50%;

}
.banner-img img {
    width: 100%;
}

.banner-content p {
    margin-top: 17px;
    margin-bottom: 24px;
}

.banner-content h2 {
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-content h1 {
    font-size: 5.2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }


    .btn-pink {
        color: #FFF;   
        padding: 21px 40px; 
        font-size: 1.1rem; 
        font-weight: 600;  
        text-transform: uppercase;
        border: none;
        border-radius: 48px;
        background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
        cursor: pointer;
    }

    .btn-blue {
        color: #FFF;   
        padding: 21px 40px; 
        font-size: 1.1rem; 
        font-weight: 600;  
        text-transform: uppercase;
        border: none;
        border-radius: 48px;
        background: #4EC5F7;
        cursor: pointer;
    }

    /* .banner-container img {
        width: 100%;

        border: 2px solid pink;
    } */

    


/* *********************************** */
/* GAMER SECTION STYLES */
/* *********************************** */


.gamer-section {

    border: 2px solid blue;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);


}
.gamer-section-container {
    border: 2px solid #a9144b;    
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 25px auto 0px;
    align-items: center;
}

.gamer-image{
    border: 3px solid rgb(54, 17, 129);
    width: 60%;
}

.gamer-image img {
    /* flex-grow: 2; */
    width: 100%;
}

.gamer-content {
    border: 2px solid salmon;
    text-align: right;
    /* width: 520px; */
    width: 40%;
    padding-left: 50px;
    
}
.gamer-content h2, p, button {
    margin-top: 1.2rem;
}
.gamer-content h2 {
   
    font-size: 2.6rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.gamer-content .summary {
    color: #534C64;
    font-size: 1rem; 
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

.gamer-content .bold-sentence {
    color: #534C64;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}
.banner-content .two-words {
    color: #534C64;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 45px; /* 187.5% */
}

.gamer-content button {
    border: none;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 21px 40px;
    color: #FFF;
    font-family: Work Sans;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    }


/* *********************************** */
/* FUNNY VIDEO STYLES */
/* *********************************** */

.funny-video-section{
    border: 4px solid black;
}
.funny-video-section-container {
    border: 2px solid red;
    width: 80%;
    margin: 70px auto;
    align-items: center;
    text-align: center;

}

.section-description{
    color: #534C64;
    font-size: 1 rem;
    font-weight: 400;
    margin-bottom: 40px;

}

.title{
    border: 2px solid red;
    display: inline-flex;
    gap: 10px;
    /* margin: auto; */
    /* text-align: center; */
    align-items: center; 
    font-size: 5.6px;
}

.title h2 {
    color: #0B0223;
    font-size: 2.6rem;
    font-weight: 700;

}
.title .title2 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.video-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;

}

.video-container .video-card {
    
    text-align: start;
}
.video-card img {
    width: 100%;
}



/* *********************************** */
/* RESPONSIVE STYLES */
/* *********************************** */

/* Mobile Device */
@media screen and (max-width:576px ) {

    .nav-bar {
        margin-top: 40px;
        flex-direction: column;
        align-items: center;
        max-height: 420px;
    }

    .nav-bar ul {
        flex-direction: column;
    }

    .nav-bar li {
        margin-top: 40px;  
    }



    .banner-content, .banner-img {
        width: 100%;
    }

    .banner-section {
        background-image: none;
    }

    .banner-container {
        flex-direction: column-reverse;
        width: 100%;
        
    }

    .banner-content {
        background-image: url('../images/Group14.png');
        background-position: left bottom;
        background-repeat: no-repeat;
        background-size: contain;
        padding-top: 20px;
        margin-top: 40px;
        text-align: center;
    }




    .gamer-section-container {
        flex-direction: column;
        width: 100%;
    }

    .gamer-content {
        border: 2px solid salmon;
        text-align: center;
        width: 100%;
        padding: 30px;

    }

    .gamer-content h2 {   
        font-size: 1.6rem;    
    }
    
    .gamer-content .summary {
        font-size: .8rem;        
    }
    
    .gamer-content .bold-sentence {
        font-size: 1.1rem;    }

    
    .gamer-content button {
        border-radius: 28px;        
        padding: 11px 13px;
        font-size: .8rem;
        cursor: pointer;

        }



    .gamer-image {
        width: 100%;
    }


}